.menu-item div{
    float: down;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* center vertically */
    justify-content: flex-start;  /* on top horizontally */
    height: 100vh;
    background: linear-gradient(to bottom right, #4b6cb7, #182848);
    background-size: cover;
    font-family: 'Ariel', sans-serif;
    overflow: hidden;  /* disable scrolling */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* background layer */
}
